<section id="designs">
    <div class="section-text">
      <h2>Featured</h2>
      <p>Take a look at some of our featured picks that have made editorial debuts</p>
    </div>
    <div class="featured">
      <div class="cont">
        <figure>
          <img src="https://i.postimg.cc/5N0zjYpS/living-room.jpg"
           alt="modern style living room" width="250px" height="200px">
          <figcaption>
            <a href="#">
              Modern Living Room</a>
          </figcaption>
        </figure>
      </div> 
      
      <div class="cont">
        <figure>
          <img src="https://i.postimg.cc/V6kf4MJ7/kitchen.jpg" 
          alt="Grey sofa in minimalist living room" width="250px" height="200px">
          <figcaption>
            <a href="#">Modern kitchen</a> 
          </figcaption>
        </figure>
      </div>
      
      <div class="cont">
        <figure>
          <img src="https://i.postimg.cc/WbgddGgr/bed-room.jpg" 
          alt="Living Room Modern Interior" width="250px" height="200px">
          <figcaption>
            <a href="#">Modern bed-room</a>
          </figcaption>
        </figure>
      </div>
      
    </div>
    <div class="video-section">
      <iframe id="video" src="https://player.vimeo.com/video/323262733" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>
    </div>
  </section>