<section id="contact" class="contact-section">
    <div class="section-text">
      <h2>Get in touch</h2>
      <p>We would love to hear from you! <br><br>If you would like to receive our monthly catalogue subscribe by filling in the form with your name and email address</p>
    </div>
    <div class="contact-info">
      <div class="form-box">
        <form id="form" class="contact-form" action="https://www.freecodecamp.com/email-submit">
          <label for="name" class="form-entry">Name <br>
            <input name="name" id="name" type="text" class="txt-box" placeholder="Enter name" required><br>
          </label>
          <label for="email" class="form-entry">Email <br>
            <input name="email" id="email" type="email" class="txt-box" placeholder="Enter email" required><br>
          </label>
          <label for="message" class="form-entry">Message<br>
            <textarea name="message" id="message" type="textarea" class="txt-box" placeholder="Optional"></textarea><br>
          </label><br>
          <input class="btn" id="submit" type="submit" value="Submit">
        </form>
      </div>
    </div>
  
  </section>
