/* Style navbar */
* {
    box-sizing: border-box;
    margin:auto;
}
.main{
    display: flex;
    flex-direction: column;
    font-family:'Lora', serif;
    letter-spacing: 2px;
    font-weight: 400;
    font-size: 1.2vw;
}







