<section id="story" class="story-sect">
    <div class="section-text">
      <h2>Our Story</h2>
      <p>Furnishing your home can be quite overwhelming at times, at least that's how it was for us. <br><br>MY HOME was born to help others going through the maze that is interior design.<br><br>We decided to curate interior design modern trends, inspirations, tips and tricks from the vast interior collective to help you bring your home to life.</p>
    </div>
    <div class="box-feature">
      <img src="https://i.postimg.cc/g2qRC4zt/Check-out-these-duplex-interior-design-ideas-FB-1200x700-compressed.jpg"  width="1000px" height="600px" />
    </div>
  </section>

  